.block-title
    font-family: BigJohn
    font-weight: 500
    text-transform: uppercase
    font-size: 36px
    color: #3949ab
    padding-bottom: 50px
    z-index: 2
    position: relative
    transform: translateY(-100px)
    overflow: hidden



.title-wrap
    position: relative
    overflow: hidden

.title-line
    content: ''
    display: block
    position: absolute
    top: 0px
    left: 0
    width: 15%
    height: 30px
    background: #34961b
    z-index: 1
    opacity: .7
    +mw600
        width: 40%



        

.dark-bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, .8)
    z-index: -1
    transition: .5s
    opacity: 0

    &--active
        opacity: 1
        z-index: 1000
