@font-face {
    font-family: 'BigJohn';
    src: url('../fonts/BIGJOHN.otf')
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf')
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Regular.ttf')
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Black.ttf')
}
    
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Light.ttf') ;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular.ttf')
}

@font-face {
    font-family: 'Peace';
    src: url('../fonts/Peace.ttf')
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');