.spec-wrap {
  width: 100%;
  height: 100%;
  background: #D2D2D2;
  padding: 45px;
}

.spec-wrap .spec {
  max-width: 1177px;
  margin: 0 auto;
  background: #fff;
  border: 2px solid #E4E4E4;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 70px 50px;
}

.spec-wrap .spec-name {
  width: 500px;
}

.spec-wrap .spec-name h3 {
  font-size: 33px;
  line-height: 39px;
  padding: 0 0 0 20px;
}

.spec-wrap .spec-name h4 {
  padding: 0 0 0 50px;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 0 0 20px;
}

.spec-wrap .spec-name__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spec-wrap .spec-name__wrap .spec-name__item {
  width: 460px;
  min-height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 50px 30px 0 50px;
  background: #F1F1F1;
  margin-top: 40px;
}

.spec-wrap .spec-name__wrap .spec-name-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.spec-wrap .spec-name__wrap .spec-name-rating__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spec-wrap .spec-name__wrap .spec-name-rating__date {
  font-size: 18px;
  color: #797979;
}

.spec-wrap .spec-name__wrap .spec-name-text {
  font-size: 17px;
  line-height: 23px;
}

.spec-wrap .spec-name__wrap .spec-name-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 21px;
}

.spec-wrap .spec-name__wrap .spec-name-sign__name {
  margin: 0;
  color: #1E5FBA;
}

.spec-wrap .spec-name__wrap .spec-name-sign__service {
  width: 250px;
  text-align: right;
  color: #797979;
  margin: 0;
}

.spec-wrap .spec-descr {
  width: 250px;
  padding-left: 30px;
}

.spec-wrap .spec-descr__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.spec-wrap .spec-descr__rate-num {
  position: relative;
}

.spec-wrap .spec-descr__rate-num .rating-position {
  position: absolute;
  top: 48%;
  left: 49%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.spec-wrap .spec-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 67px 0 0;
}

.spec-wrap .spec-photo img {
  width: 228px;
  height: 238px;
  margin-bottom: 30px;
}

.spec-wrap .spec-photo .spec-contact {
  display: inline-block;
  background: #FFFFFF;
  border: 2px solid #4F91ED;
  border-radius: 5px;
  width: 209px;
  height: 50px;
  color: #4F91ED;
  position: relative;
  margin-bottom: 20px;
}

.spec-wrap .spec-photo .spec-contact:hover {
  border: 2px solid #C4C4C4;
  color: #C4C4C4;
}

.spec-wrap .spec-photo .spec-contact span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 21px;
  line-height: 25px;
}

.spec-wrap .spec-photo .spec-chat {
  display: inline-block;
  width: 209px;
  height: 50px;
  background: #C4C4C4;
  border-radius: 5px;
  padding: 15px 30px;
  position: relative;
  margin-bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
}

.spec-wrap .spec-photo .spec-chat:hover {
  background: #fff;
  border: 1px #bbb solid;
  color: #bbb;
}

.spec-wrap .spec-photo .spec-chat span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#spec-wrap-color {
  background: #D2D2D2;
}
/*# sourceMappingURL=spec.css.map */