.aboutme
    max-width: 1200px
    margin: 0 auto
    padding: 100px 0
    &__title
        font-size: 36px
        padding-bottom: 50px

    &__main
        max-width: 1000px
        display: flex
        align-items: center
        margin: 0 auto


    &__img
        img
            width: 80%


    &__facts
        display: flex
        width: 40%


.facts
    
    &__list
        padding: 15px 20px


    &__item
        line-height: 25px


