.contacts
    max-width: 1200px
    margin: 0 auto
    padding: 100px 0 100px 0

    &__title
        padding-bottom: 50px   
        font-size: 36px 
    
    &__main
        display: flex
        justify-content: space-between
        max-width: 600px
        margin: 0 auto

    &__form
        width: 50%

    

    .input-wrap
        display: flex
        justify-content: space-between
        margin-bottom: 20px


    &__field
        border: 1px #666 solid
        width: 48%

    &__msg
        border: 1px #666 solid
        width: 100%



    &__links


    &__list


    &__item


