.header
    padding: 0 55px

    &__wrap
        background: rgb(25,213,205);
        background: linear-gradient(90deg, rgba(25,213,205,1) 0%, rgba(135,222,206,1) 25%, rgba(255,255,255,1) 100%);
        min-height: 250px
        margin:  30px auto 50px
        border-radius: 20px
        max-width: 2000px
        padding: 0 30px
    


    &__top
        display: flex
        justify-content: space-between
        align-items: center
        padding: 40px 30px

    &__logo
        img
            height: 50px

    &__nav

    .nav
        &__bar
            width: 35%
        &__list
            display: flex
            justify-content: space-between
            text-transform: uppercase
            font-family: Arial, Helvetica, sans-serif

        &__el
            display: block
    &__main
        padding: 50px 0 0 0
        display: flex
        justify-content: space-between
        align-items: center
        max-width: 800px
        margin: 0 auto
        min-height: 600px
        position: relative

    &__hello
        color: #190468

        
    &__title
        font-size: 55px
        padding-bottom: 20px
        font-family: BigJohn
        text-transform: uppercase


    &__subtitle
        font-size: 25px
        font-family: SourceSansPro

    &__button
        padding: 7px 15px
        margin: 30px 15px 0 0
        display: inline-block
        font-size: 14px
        font-family: OpenSans
        background: #fff


        &:hover
            

    &__image

        img
            height: 600px
            position: absolute
            bottom: -50px
            right: 50px