.header
    padding: 0 55px
    position: relative
    background: #fff
    +mw979
        padding: 0 20px

    &__wrap
        background: url('../images/header/bg.png')
        background-size: cover
        min-height: 250px
        margin:  30px auto 50px
        border-radius: 20px
        max-width: 2000px
        padding: 0 30px
        position: relative
        +mw(1400)
            padding: 0 60px
        +mw480
            padding: 0 30px
        

        


    &__top
        z-index: 100
        display: flex
        justify-content: space-between
        align-items: center
        padding: 40px 30px

    &__logo
        position: relative
        +mw480
            left: -30px
        img
            height: 50px

    .nav
        &__bar
            width: 40%
            transition: .3s
            +mw(1350)
                width: 60%
            +mw1180
                width: 70%
            +mw979
                position: fixed
                display: flex
                top: 10px
                left: 50%
                transform: translate(-50%, -110%)
                background: blue
                height: 95%
                z-index: -100
                align-items: center
                justify-content: center
                max-height: 1100px
                min-height: 450px

                

            &--active
                transform: translate(-50%, 0)
                z-index: 1000
        &__list
            display: flex
            justify-content: space-between
            text-transform: uppercase
            font-family: Montserrat
            color: #fff
            font-size: 18px
            letter-spacing: 2px
            +mw979
                flex-direction: column
                background: red
                align-items: center
                height: 40%
                width: 60%
                justify-content: center
            +mw320
                font-size: 14px

                    
                    

        &__el
            display: block
            position: relative
            transform: translateY(0px)
            opacity: 0
            padding: 5px 10px
            margin: 10px 0
            transition: .1s
            &:hover
                background: #34961b
                
    //*************** BURGER MENU *******************//
      
    .burger
        display: none
        width: 70px
        height: 50px
        position: absolute
        top: 55px
        right: 120px
        z-index: 0
        transition: .1s
        transform: translateX(60px)
        cursor: pointer
        +mw979
            display: block
        +mw600
            top: 40px
            right: 85px
            width: 50px
            height: 40px
        
        span
            display: block
            position: absolute
            height: 4px
            width: 100%
            background: #ffffff
            transition: .2s
            &:nth-child(1)
                top: 0
            &:nth-child(2)
                top: 50%
                transform: translateY(-2px)
            &:nth-child(3)
                top: 100%
                transform:  translateY(-2px)
    .burger__in    
        position: fixed
        right: 100px
        span
            &:nth-child(1)
                transform:  translateY(25px) rotate(-135deg)
                +mw600
                    transform:  translateY(20px) rotate(-135deg)
            &:nth-child(2)
                opacity: 0
            &:nth-child(3)
                transform:  translateY(-25px) rotate(135deg)
                +mw600
                    transform:  translateY(-20px) rotate(135deg)

    .burger--active
        display: none


    //*************** BURGER MENU END*******************//
        
    &__main
        padding: 50px 0 20px 0
        display: flex
        justify-content: space-between
        align-items: center
        max-width: 1200px
        margin: 0 auto
        min-height: 600px
        position: relative
        +mw979
            justify-content: center 
            min-height: 450px

        +mw480
            padding-top: 25px


    &__hello
        color: #2a1c5c
        +mw979
            text-align: center
        
    .hello-wrap
        position: relative
        overflow: hidden
        margin-right: 30px
        +mw979
            margin: 0 0 15px 0
        
    .color1, .color2
        display: block
        width: 0%
        height: 100%
        position: absolute
        top: 0
        left: 0      
        z-index: 0  

    .color1
        background: #993939

    .color2   
        background: #595aa8
    
    .title-wrapб .subtitle-wrap
        overflow: hidden

    &__title
        font-size: 85px
        padding: 0 0 20px 5px
        font-family: BigJohn
        text-transform: uppercase
        background: #eee5ca
        width: 100%
        overflow: hidden
        transition: .2s
        z-index: 100
        position: relative
        transform: translateY(-700px)
        +mw1180
            font-size: 70px
        +mw979
            +adaptive-font(100, 35)
            padding: 10px 7px 15px
            

    &__subtitle
        font-size: 35px
        font-family: SourceSansPro
        background: #34961b
        color: #fff
        text-transform: uppercase
        padding: 5px
        width: 100%
        overflow: hidden
        z-index: 100
        position: relative
        opacity: 0
        padding: 0 5px 5px 5px
        +mw979
            +adaptive-font(35, 25)

    &__button
        padding: 15px 30px
        margin: 30px 15px 0 0
        width: 180px
        display: inline-block
        font-size: 18px
        font-family: OpenSans
        border-radius: 25px
        background: linear-gradient(to left, #ffffff,  50%, #a589e4 50%) right;
        background-size: 210%;
        transition: .2s ease-out;
        transform: translateY(20px)
        opacity: 0
        text-align: center
        &:hover
            background-position: left
            color: #ffffff
        +mw979
            width: 140px
            font-size: 12px
            margin: 20px 10px 0

        +mw480
            width: 80%

    &__image
        transform: scaleX(0)
        width: 450px
        height: 500px
        background: #dad59b
        display: flex
        align-items: center
        justify-content: center
        position: relative
        overflow: hidden
        +mw1180
            width: 350px
        +mw979
            display: none
        
        img
            width: 60%
            position: relative
            transform: translateY(-100px)
            +mw1180
                width: 80%


        .header-img-wrap
            position: absolute
            bottom: -50px
            z-index: 1000
            display: block
            width: 450px
            height: 650px
            background: #dad59b




.lang 
    position: absolute
    top: 50%
    right: 0px
    font-size: 12px
    transform: rotate(90deg)
    font-family: Montserrat

    &.desc
        +mw979
            display: none

    &.mob
        display: none
        right: -10px
        a
            font-size: 16px
        +mw979
            display: block

        +mw480
            top: 90%
            left: 50%
            transform:  rotate(0deg) translateX(-50%)
            text-align: center


    
    a
        color: #ffffff
        opacity: .3

        &:hover
            opacity: .9

    &__div
        height: 10px
        background: #fff
        width: 2px
        display: inline-block
        margin: 0 10px
        color: #ffffff
        opacity: .3