.portfolio
    background: #f1faf5

    &__title
        font-size: 36px
        padding-bottom: 50px


    &__works
        max-width: 1200px
        margin: 0 auto

    &__wrap
        max-width: 1500px
        margin: 0 auto
        padding: 100px 0 100px
        


.work
    display: flex
    align-items: center
    justify-content: center
    border-radius: 15px
    font-family: SourceSansPro
    font-size: 30px
    font-weight: 100
    padding: 40px 80px
    +mw480
        flex-direction: column

    &__img
        border-radius: 15px
        overflow: hidden
        height: 300px
        width: 400px
        cursor: pointer
        transition: .2s
        position: relative
        

    &__over
        color: #fff
        text-align: center
        font-size: 22px
        line-height: 300px
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0
        background: rgba(0,0,0,.5)
        z-index: 1000
        transition: .2s

        &:hover
            opacity: 1

            


    &:nth-child(even) .work__img
        margin-left: 50px

    &:nth-child(odd) .work__img
        margin-right: 50px
    
    img 
        height: 300px
        width: 400px
        object-fit: cover

    &__desc
        width: 50%
        color: #383838
        background: #ffffff
        border: 1px solid #eee
        border-radius: 15px
        height: 300px
        width: 600px
        display: flex
        align-items: start
        justify-content: space-between
        padding: 35px
        font-size: 16px
        flex-direction: column

    &__buttons
        display: flex

    &__btn
        display: block
        width: 120px
        margin-right: 20px
        text-align: center
        padding: 10px 20px
        border-radius: 25px
        border: 1px solid #a589e4
        color: #fff
        background: linear-gradient(to left, #a589e4,  50%, #ffffff  50%) right
        background-size: 220%
        transition: .2s ease-out

        
        &:hover
            background-position: left
            color: #a589e4


        &--light
            background: linear-gradient(to left, #ffffff,  50%, #a589e4  50%) right
            background-size: 220%
            color: #a589e4
            &:hover
                color: #fff

        
            


