.portfolio
    max-width: 1200px
    margin: 0 auto
    padding: 100px 0 100px

    &__title
        font-size: 36px
        padding-bottom: 50px


    &__works
        max-width: 800px
        margin: 0 auto


.work
    display: flex
    align-items: center
    margin-bottom: 45px


    &__img
        width: 50%
        img 
            width: 350px


    &__desc
        width: 45%


