.skills
    padding: 100px 0 100px 0
    max-width: 1200px
    margin: 0 auto

    &__title
        padding-bottom: 50px
        font-size: 36px
    &__list
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin: 0 auto
        max-width: 1100px

.skill

    &__el
        width: 30%
        text-align: center


    &__title
       


    &__desc


